/.gitattributes text eol=lf
*.rb text eol=lf
*.rake text eol=lf
*.jbuilder text eol=lf
*.erb text eol=lf
*.liquid text eol=lf
*.js text eol=lf
*.json text eol=lf
*.vue text eol=lf
*.yml text eol=lf
Gemfile text eol=lf
Gemfile.lock text eol=lf
bin/* text eol=lf
